# Grafana Datasource Provisioning - NHI Security Testbed
# Auto-configures Prometheus as the default data source

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "15s"
    version: 1
